pip install python_docx
pip install docx
pip install pyresparser

In [1]:
import pandas as pd
import docx2txt
import textract
import os
import warnings
warnings.filterwarnings('ignore')

In [2]:
 import resume_parser

In [3]:
from pyresparser import ResumeParser
import os
from docx import Document
from resume_parser import resumeparse

In [4]:
data = resumeparse.read_file(r'C:\Users\ACER\Downloads\Resume MANAS RANJAN PRUSTI (1).docx')

2022-07-01 11:07:49,411 [MainThread  ] [ERROR]  Unable to run java; is it installed?
2022-07-01 11:07:49,425 [MainThread  ] [ERROR]  Failed to receive startup confirmation from startServer.
ERROR:root:Error in tika installation:: Unable to start Tika server.
ERROR:root:--------------------------
ERROR:root:Install java for better result

In [5]:
data

{'email': 'manasranjanprusti005@gmail.c',
 'phone': '+919668488022',
 'name': 'MANAS RANJAN',
 'total_exp': 2,
 'university': ['university of technology'],
 'designition': ['data scientist',
  'scientist',
  'business development',
  'business development associate',
  'development associate',
  'associate',
  'costumer'],
 'degree': [],
 'skills': ['Machine Learning',
  ' Deep Learning Computer Vision',
  ' NLP',
  ' AWS',
  'Big Data',
  ' Hadoop',
  'Python',
  ' SQL',
  ' Excel ',
  ' Tableau',
  ' Power BI',
  'Scikit',
  ' Tensor Flow',
  ' Keras Seaborn',
  ' Matplotlib',
  ' CNN',
  ' RNN',
  'Hobbies',
  'Coding Cricket Reading',
  'Learning New ',
  'PERSONAL PROFILE',
  'Result oriented individual having statistical and analytical ability with 8 months of industry experience in Data science with data processing',
  ' data visualization',
  ' model building',
  ' training and testing using Machine Learning',
  ' Deep learning and NLP techniques to meet business needs. Motivated to learn',
  ' grow and excel my experience with challenging myself.'],
 'Companies worked at': []}

In [6]:
new = pd.DataFrame.from_dict(data,orient='index')

In [7]:
new

                                                                     0
email                                     manasranjanprusti005@gmail.c
phone                                                    +919668488022
name                                                      MANAS RANJAN
total_exp                                                            2
university                                  [university of technology]
designition          [data scientist, scientist, business developme...
degree                                                              []
skills               [Machine Learning,  Deep Learning Computer Vis...
Companies worked at                                                 []